<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Reservation
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link" href="#">Front Desk</a>
      <a class="nav-item nav-link" href="#">Cashiering</a>
      <a class="nav-item nav-link" href="#">Room Management</a>
      <a class="nav-item nav-link" href="#">AR</a>
      <a class="nav-item nav-link" href="#">Commission</a>
      <a class="nav-item nav-link" href="#">End of day</a>
      <a class="nav-item nav-link" href="#">Exit</a>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">PMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Reservation
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link" href="#">Front Desk</a>
      <a class="nav-item nav-link" href="#">Cashiering</a>
      <a class="nav-item nav-link" href="#">Room Management</a>
      <a class="nav-item nav-link" href="#">AR</a>
      <a class="nav-item nav-link" href="#">Commission</a>
      <a class="nav-item nav-link" href="#">End of day</a>
      <a class="nav-item nav-link" href="#">Exit</a>
    </div>
  </div>
</nav>

<div class="row">
  <div class="nav-left">
    <div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link" id="NewReservation-tab" data-toggle="pill" href="#NewReservation" role="tab" aria-controls="NewReservation"
        aria-selected="true">New Reservation</a>
      <a class="nav-link" id="UpdateReservation-tab" data-toggle="pill" href="#UpdateReservation" role="tab" aria-controls="UpdateReservation"
        aria-selected="false">Update Reservation</a>
      <a class="nav-link" id="Blocks-tab" data-toggle="pill" href="#Blocks" role="tab" aria-controls="Blocks" aria-selected="false">Blocks</a>
      <a class="nav-link" id="RoomPlan-tab" data-toggle="pill" href="#RoomPlan" role="tab" aria-controls="RoomPlan" aria-selected="false">Room Plan</a>
      <a class="nav-link" id="FloorPlan-tab" data-toggle="pill" href="#FloorPlan" role="tab" aria-controls="FloorPlan" aria-selected="false">Floor Plan</a>
      <a class="nav-link" id="RegisterCode-tab" data-toggle="pill" href="#RegisterCode" role="tab" aria-controls="RegisterCode"
        aria-selected="false">Register Code</a>
      <a class="nav-link" id="Calender-tab" data-toggle="pill" href="#Calender" role="tab" aria-controls="Calender" aria-selected="false">Calender</a>
    </div>
  </div>
  <div class="col-sm-11">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="NewReservation" role="tabpanel" aria-labelledby="NewReservation-tab">
        <div class="col">
          <label class="Tile">Reservation</label>
          <br>
          <label class="Sub-Tile">15 December 2017 | 18.00 น.</label>
        </div>
      </div>
      <div class="tab-pane fade" id="UpdateReservation" role="tabpanel" aria-labelledby="UpdateReservation-tab">...</div>
      <div class="tab-pane fade" id="Blocks" role="tabpanel" aria-labelledby="Blocks-tab">...</div>
      <div class="tab-pane fade" id="RoomPlan" role="tabpanel" aria-labelledby="RoomPlan-tab">...</div>
      <div class="tab-pane fade" id="FloorPlan" role="tabpanel" aria-labelledby="FloorPlan-tab">...</div>
      <div class="tab-pane fade" id="RegisterCode" role="tabpanel" aria-labelledby="RegisterCode-tab">...</div>
      <div class="tab-pane fade" id="Calender" role="tabpanel" aria-labelledby="Calender-tab">...</div>
    </div>
  </div>
</div>