/* .fa{
    font-size: 30px;
}
a{
    text-align: center;
} */
/* .flex-column{
    height: 100vh;
    width: 80px;
} */
/* .tab-content{
    height: 100vh;
    width: 100vw;
} */

.balance{
    text-align: left;
    font-size: 26px;
}
