<div class="col">
  <label class="Tile">Reservation</label>
  <br>
  <label class="Sub-Tile">15 December 2017 | 18.00 น.</label>
</div>
<div class="row">
  <!-- Left -->
  <div class="col-12 col-sm col-md-12 col-lg col-xl-4 pd">
    <div class="col">
      <!-- Search -->
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Search</h4>
          <div class="row">
            <label class="col-sm-3">Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="" value="Johny">
            </div>
          </div>
          <div class="row">
            <label class="col-sm-3">First Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="" value="">
            </div>
          </div>
          <div class="row">
            <label class="col-12 col-sm-3">Room</label>
            <div class="col-12 col-sm-4">
              <select id="inputState" class="form-control">
                <option></option>
                <option>...</option>
              </select>
            </div>
            <div class="col-12 col-sm-1 label">
              <label>Type</label>
            </div>
            <div class="col-12 col-sm-3">
              <select id="inputState" class="form-control">
                <option></option>
                <option>...</option>
              </select>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-3">ConfifiCxl No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="" value="">
            </div>
          </div>
          <div class="row">
            <label class="col-sm-3">Stay On</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="" value="">
            </div>
          </div>
          <div class="row">
            <label class="col-sm-3">Company</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="" value="">
            </div>
          </div>
          <div class="row">
            <label class="col-sm-3">Agent</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="" value="">
            </div>
          </div>
          <div class="row">
            <label class="col-sm-3">Block Code</label>
            <div class="col-sm-8">
              <select id="inputState" class="form-control">
                <option></option>
                <option>...</option>
              </select>
            </div>
          </div>
          <!-- <br> -->
          <button type="button" class="btn btn-bule offset-2 col-4">Search</button>
          <button type="button" class="btn btn-gray col-4">Clear</button>
          <p></p>
          <!-- Table -->
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">
                  <div class="dropdown">
                    <button class="btn btn-white th dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      NAME
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">...</a>
                    </div>
                  </div>
                </th>
                <th scope="col">
                  <div class="dropdown">
                    <button class="btn btn-white th dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      ROOM
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">...</a>
                    </div>
                  </div>
                </th>
                <th scope="col">
                  <button class="btn btn-white th" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    STATUS
                  </button>
                </th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let item of data">
              <tr>
                <th scope="row">
                  <input type="checkbox" value="">
                </th>
                <td>{{item.name}}</td>
                <td>&nbsp;&nbsp;{{item.room}}</td>
                <td>
                    <button type="button" [ngStyle]="{'background-color': getColor(item.ck)}" class="btn btn-sm btn-block btn-grid">{{item.status}}</button>
                </td>
                <td>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Right -->
  <div class="col-12 col-sm col-md-12 col-lg col-xl">
    <div class="row">
      <div class="col-12">
        <!-- Reservation -->
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Reservation</h4>
            <div class="row">
              <!-- -->
              <div class="col-sm-12 col-md col-xl">
                <div class="row">
                  <label class="col-sm-3">Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="" value="Johny ,Rob">
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-3">Address</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="" value="Europadarm 4">
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-3">Building</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="" value="">
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-3">City</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="" value="Neuss">
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-5">Zipcode/State/Country</label>
                  <div class="col-sm-7">
                    <div class="form-row">
                      <div class="col-4">
                        <input type="text" class="form-control" placeholder="" value="41403">
                      </div>
                      <div class="col">
                        <select id="inputState" class="form-control">
                          <option selected>NW</option>
                          <option>...</option>
                        </select>
                      </div>
                      <div class="col">
                        <select id="inputState" class="form-control">
                          <option selected>DE</option>
                          <option>...</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-3">Comm</label>
                  <div class="col-sm-9">
                    <div class="form-row">
                      <div class="col-6">
                        <select id="inputState" class="form-control">
                          <option selected>MOBILE</option>
                          <option>...</option>
                        </select>
                      </div>
                      <div class="col-6">
                        <input type="text" class="form-control" placeholder="" value="+68 6552 9685">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-3">Comm</label>
                  <div class="col-sm-9">
                    <div class="form-row">
                      <div class="col-6">
                        <select id="inputState" class="form-control">
                          <option selected>EMAIL</option>
                          <option>...</option>
                        </select>
                      </div>
                      <div class="col-6">
                        <input type="text" class="form-control" placeholder="" value="john@micro.co.de">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- -->
              <div class="col-sm col-md-12 col-xl">
                <div class="row">
                  <label class="col-sm-3">Arrival</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="" value="07/12/2017">
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-3">Night</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="" value="5">
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-3">Departure</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="" value="12/12/2017">
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-3">Rate</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="" value="5">
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-3">Rate Code</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="" value="0505">
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-3">Block code</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="" value="1509APG">
                  </div>
                </div>
                <button type="button" class="btn btn-bule offset-sm-4 col-sm-6">Change Reservation</button>
              </div>
            </div>
            <!-- -->
          </div>
        </div>

      </div>
      <div class="col-12 col-sm-12 col-lg-12 col-xl-7">
        <!-- Calendar -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pd">
          <div class="card">
            <div class="card-body ">
              <h4 class="card-title">Calendar</h4>
              <h6 class="card-subtitle mb-2 text-muted">Calendar</h6>
            </div>
          </div>
        </div>

      </div>
      <div class="col col-sm col-lg col-xl">
        <!-- Cashiering -->
        <div class="col col-sm col-md col-lg col-xl-12 pd">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Cashiering</h4>
              <div class="row">
                <label class="col-sm-3">Window 1</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control text-cash" placeholder="" value="263.00">
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3">Window 2</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control text-cash" placeholder="" value="230.00">
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3">Window 3</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control text-cash" placeholder="" value="562.00">
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3">Window 4</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control text-cash" placeholder="" value="5.00">
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3">Payment</label>
                <div class="col-10 col-sm-4">
                  <select id="inputState" class="form-control">
                    <option selected>Cash</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="col-2 col-sm-3">
                  <img src="../../assets/image/pic_cash.png" class="img-icon">
                  <!-- <link rel="icon" type="image/x-icon" href="../../assets/image/pic_cash.png"> -->
                </div>
              </div>
              <!-- <label class="col-6">Balance</label>
              <label class="col-5"></label> -->
              <br>
              <br>
              <br>
              <div class="col-6 balance">&nbsp;Balance</div>
              <div class="col-5"></div>
              &nbsp; &nbsp;
              <button type="button" class="btn btn-checked-in col-6">2,532.00</button>
              <button type="button" class="btn btn-bule col-5 ">Check Out</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>